@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --color-id-gray-900: #080c10;
  --color-id-gray-darker: #303740;
  --color-id-gray-dark: #333a43;
  --color-id-gray: #696e78;
  --color-id-gray-base: #d9d9d9;
  --color-id-gray-light: #b2b5c0;
  --color-id-green: #00e5ba;
  --color-id-green-light: #d4ffe8;
  --color-network-primary: #5c5edc;
  --color-saas-orange--dark: #ff5f18;
  --color-saas-orange--light: #f5b539;
  --color-porcelain: #f1f5f9;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary: #23bbd9;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #34226b;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.card-solution {
  @apply transition-all relative overflow-hidden;
}

.card-solution:before {
  @apply absolute w-full h-full left-0 opacity-0 transition-all;
  background-image: url("/bg-card-solution.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  content: "";
  bottom: -30%;
  z-index: 1;
  mix-blend-mode: screen;
}
.card-solution:hover:before {
  opacity: 1;
  bottom: -20%;
}
.card-solution .icon {
  @apply text-id-gray-dark;
}

.card-solution.solution-card__point-condominio {
  @apply bg-network-primary/15 text-id-gray-dark hover:bg-network-primary hover:text-white;
}

.card-solution.solution-card__point-condominio .icon {
  @apply text-network-primary;
}

.card-solution:hover .icon {
  @apply text-white;
}

.card-solution.solution-card__point-id {
  @apply bg-id-green/15 text-id-gray-dark hover:bg-id-green hover:text-id-gray-dark;
}
.card-solution.solution-card__point-id:before {
  mix-blend-mode: normal;
}

.card-solution.solution-card__point-id:hover .icon {
  @apply text-id-gray-dark;
}

.card-solution.solution-card__point-saas {
  @apply bg-saas-orange--dark/15 text-id-gray-dark hover:bg-saas-orange--dark hover:text-white;
}

.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 black;
  margin: 10px;
  height: 14px;
  width: 14px;
  transform: scale(1);
}

.blob.red {
  background: rgba(247, 54, 80, 1);
  box-shadow: 0 0 0 0 rgba(247, 54, 80, 1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(247, 54, 80, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(247, 54, 80, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(247, 54, 80, 0);
  }
}

.blob.green {
  background: #33d9b2;
  box-shadow: 0 0 0 0 #33d9b2;
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
